<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.wanxiang.zzz.com.wxdriver">

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".function_activity.getManageListActivity" />
        <activity android:name=".function_activity.getOrderListActivity" />
        <activity android:name=".function_activity.getOrderDetailActivity" />
        <activity android:name=".function_activity.UnloadCarActivity" />
        <activity android:name=".function_activity.routeChangeActivity" />
        <activity android:name=".ProveRegisterInfoActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".center_activity.ChangePwdActivity" />
        <activity android:name=".function_activity.FocusCarriersActivity" />
        <activity android:name=".center_activity.AboutActivity"></activity>
    </application>

</manifest>